services:
  payload:
    image: node:24-alpine
    ports:
      - '3002:3002'
    volumes:
      - .:/home/node/app
      - node_modules:/home/node/app/node_modules
    working_dir: /home/node/app/
    command: sh -c "corepack enable && corepack prepare pnpm@latest --activate && pnpm install && pnpm build && node .next/standalone/server.js"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env

  postgres:
    restart: unless-stopped
    image: postgres:latest
    environment:
      POSTGRES_DB: blackmoon
      POSTGRES_USER: blackmoon
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U blackmoon -d blackmoon']
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
  node_modules:
